.chats{
    width: 50%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
    
}
.chats::-webkit-scrollbar {
    width: 6px;               /* thin scrollbar */
}

.chats::-webkit-scrollbar-track {
    background: transparent;  /* clean background */
}

.chats::-webkit-scrollbar-thumb {
    background-color: #555;   /* scrollbar color */
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb:hover {
    background-color: #777;   /* hover effect */
}

.userchats{
     display: flex;
     text-align: right;
     justify-content: flex-end;
}
.user{
    background-color: #323232;
    text-align: right;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}
.modelchats{
    text-align: left;
    font-size: 0.9rem;
}
.model{
    text-align: left;
    font-size: 0.9rem;
}